<%- include ../../partials/header.ejs %>
<%- include ../../partials/top_nav.ejs %>
<%- include ../../partials/login_nav.ejs %>

<div class="container-fluid btn-light p-5">
<div class="row row-cols-1 row-cols-md-3 g-4">
 <%if (surveylist.length ==0){%>
                <h4>You have not created any surveys so far!</h4>
     <%}%>
        <% for (let count = 0; count < surveylist.length; count++) { %>
     <div class="col">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
            <%if ((surveylist[count].startDate<=dateNow) && (dateNow<=surveylist[count].endDate)){%>
                <h5><span class="badge bg-success"> ACTIVE</span></h5>
            <%}
            else{%>
              <h5><span class="badge bg-secondary"> NOT ACTIVE</span></h5>
            <%}%>

              
              <p class="card-text"><%=surveylist[count].title%></p>
              <a type="button" class="btn btn-primary" href="/survey-details/<%=surveylist[count].id%>">View Details</a>
          <a type="button" class="btn btn-success" href="/report/<%=surveylist[count].id%>">View Report</a>
            </div>
          </div>
          
         </div>    
    <% } %>
</div>
</div>

<%- include ../../partials/bottom_nav.ejs %>
<%- include ../../partials/footer.ejs %>