<%- include ../../partials/header.ejs %>

<%- include ../../partials/top_nav.ejs %>
<%- include ../../partials/login_nav.ejs %>

<div class="container-fluid btn-light p-5">

  <h1 class="display-4">Employee Engagement Survey Template </h1><br>

  <div class="row col-5">
    <h4 class="fw-bold text-center mt-3"></h4>
    <form class="px-4" action="">
      <p class="fw-bold">1. What is your job role?</p>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">
           Individual Contributor 
        </label>
      </div>
  
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Team Lead 
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Manager  
        </label>
      </div>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Unique 
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Senior Manager  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Overpriced  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Regional Manager 
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Vice President   
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Management / C-Level
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Partner  
        </label>
      </div>
      
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" />
        <label class="form-check-label" for="flexCheckDefault3">
          Owner
        </label>
      </div>

       <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" />
        <label class="form-check-label" for="flexCheckDefault3">
          Volunteer
        </label>
      </div>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" />
        <label class="form-check-label" for="flexCheckDefault3">
          Intern
        </label>
      </div>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" />
        <label class="form-check-label" for="flexCheckDefault3">
          Other
        </label>
      </div>

    </form>
    <!-- <div class="card-footer text-end">
      <button type="button" class="btn btn-primary">Submit</button>
    </div> -->
  </div>

  <div class="row col-5">
    <h4 class="fw-bold text-center mt-3"></h4>
    <form class=" bg-white px-4" action="">
      <p class="fw-bold">2.  I am satisfied with my opportunities for professional growth.</p>
      <div class="form-check mb-2">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
        <label class="form-check-label" for="radioExample1">
          Very satisfied
        </label>
      </div>
      <div class="form-check mb-2">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
        <label class="form-check-label" for="radioExample2">
          Somewhat satisfied 
        </label>
      </div>
      <div class="form-check mb-2">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
        <label class="form-check-label" for="radioExample3">
          Neither satisfied nor dissatisfied 
        </label>
      </div>
      <div class="form-check mb-2">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
        <label class="form-check-label" for="radioExample3">
          Somewhat dissatisfied 
        </label>
      </div>
      <div class="form-check mb-2">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
        <label class="form-check-label" for="radioExample3">
          Very dissatisfied
        </label>
      </div>
    </form>
    <!-- <div class="text-end">
      <button type="button" class="btn btn-primary">Submit</button>
    </div> -->
  </div>

  <div class="row col-5">
    <h4 class="fw-bold text-center mt-3"></h4>
    <form class="px-4" action="">
      <p class="fw-bold">3. I am satisfied with the job-related training my organization offers</p>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">
          Strongly Disagree  
        </label>
      </div>
  
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Disagree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Neutral/Neither agree nor disagree   
        </label>
      </div>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Agree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Strongly Agree  
        </label>
      </div>
      
    </form>
    <!-- <div class="card-footer text-end">
      <button type="button" class="btn btn-primary">Submit</button>
    </div> -->
  </div>

  <div class="row col-5">
    <h4 class="fw-bold text-center mt-3"></h4>
    <form class="px-4" action="">
      <p class="fw-bold">4.  I am satisfied that I have the opportunities to apply my talents and expertise</p>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">
          Strongly Disagree  
        </label>
      </div>
  
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Disagree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Neutral/Neither agree nor disagree   
        </label>
      </div>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Agree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Strongly Agree  
        </label>
      </div>
      
    </form>
    <!-- <div class="card-footer text-end">
      <button type="button" class="btn btn-primary">Submit</button>
    </div> -->
  </div>

  <div class="row col-5">
    <h4 class="fw-bold text-center mt-3"></h4>
    <form class="px-4" action="">
      <p class="fw-bold">5.  I am inspired to meet my goals at work</p>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">
          Strongly Disagree  
        </label>
      </div>
  
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Disagree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Neutral/Neither agree nor disagree   
        </label>
      </div>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Agree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Strongly Agree  
        </label>
      </div>
      
    </form>
    <!-- <div class="card-footer text-end">
      <button type="button" class="btn btn-primary">Submit</button>
    </div> -->
  </div>

  <div class="row col-5">
    <h4 class="fw-bold text-center mt-3"></h4>
    <form class="px-4" action="">
      <p class="fw-bold">6. When at work, I am completely focused on my job duties</p>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">
          Strongly Disagree  
        </label>
      </div>
  
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Disagree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Neutral/Neither agree nor disagree   
        </label>
      </div>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Agree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Strongly Agree  
        </label>
      </div>
      
    </form>
    <!-- <div class="card-footer text-end">
      <button type="button" class="btn btn-primary">Submit</button>
    </div> -->
  </div>

  <div class="row col-5">
    <h4 class="fw-bold text-center mt-3"></h4>
    <form class="px-4" action="">
      <p class="fw-bold">7. Employees in my organization take the initiative to help other employees when the need arises</p>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">
          Strongly Disagree  
        </label>
      </div>
  
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Disagree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Neutral/Neither agree nor disagree   
        </label>
      </div>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Agree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Strongly Agree  
        </label>
      </div>
      
    </form>
    <!-- <div class="card-footer text-end">
      <button type="button" class="btn btn-primary">Submit</button>
    </div> -->
  </div>

  <div class="row col-5">
    <h4 class="fw-bold text-center mt-3"></h4>
    <form class="px-4" action="">
      <p class="fw-bold">8. I am satisfied with my overall compensation.</p>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">
          Strongly Disagree  
        </label>
      </div>
  
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Disagree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Neutral/Neither agree nor disagree   
        </label>
      </div>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Agree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Strongly Agree  
        </label>
      </div>
      
    </form>
    <!-- <div class="card-footer text-end">
      <button type="button" class="btn btn-primary">Submit</button>
    </div> -->
  </div>

  <div class="row col-5">
    <h4 class="fw-bold text-center mt-3"></h4>
    <form class="px-4" action="">
      <p class="fw-bold">9. Communication between senior leaders and employees is good in my organization.</p>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">
          Strongly Disagree  
        </label>
      </div>
  
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Disagree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Neutral/Neither agree nor disagree   
        </label>
      </div>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Agree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Strongly Agree  
        </label>
      </div>
      
    </form>
    <!-- <div class="card-footer text-end">
      <button type="button" class="btn btn-primary">Submit</button>
    </div> -->
  </div>

  <div class="row col-5">
    <h4 class="fw-bold text-center mt-3"></h4>
    <form class="px-4" action="">
      <p class="fw-bold">10. I am satisfied with the workplace flexibility offered by my organization.</p>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">
          Strongly Disagree  
        </label>
      </div>
  
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Disagree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Neutral/Neither agree nor disagree   
        </label>
      </div>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Agree  
        </label>
      </div>
      
      <!-- Checked checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          Strongly Agree  
        </label>
      </div>
      
    </form>
    <!-- <div class="card-footer text-end">
      <button type="button" class="btn btn-primary">Submit</button>
    </div> -->
  </div>

  <input type="submit" class="btn btn-primary" value="Create">
  <a type="button" class="btn btn-secondary" href="/template">Cancel</a>
<!-- </form> -->
</div>

<%- include ../../partials/bottom_nav.ejs %>
<%- include ../../partials/footer.ejs %>

