<%- include ../../partials/header.ejs %>

<%- include ../../partials/top_nav.ejs %>
<%- include ../../partials/login_nav.ejs %>

<div class="container-fluid btn-light p-5">
  <form method="POST">
  <h1 class="display-4">
    <h5><span class="badge bg-success">Survey Title </span></h5>
    <input type="text" class="form-control" name="surveytitle" value="Customer Satisfaction Survey Template"></h1><br>
    <div class="form-group">
      <label> Start Date: </label>
      <input type="date" id="start" name="surveyStartDate"  value="2021-12-10"  min="2018-01-01" max="2099-12-31">
      <label> End Date: </label>
      <input type="date" id="start" name="surveyEndDate"  value="2021-12-10"  min="2018-01-01" max="2099-12-31">
    
    </div>
    <br>
    <div class="form-group">
      <h5><span class="badge bg-secondary">Question 1</span></h5>
      <input type="text" class="form-control" name="question1" value="Overall, Are you satisfied with our company?">
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">
        <input type="text" class="form-control" name="q1op1" value="Yes">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">
        <input type="text" class="form-control" name="q1op2" value="No">
      </label>
    </div>

    <br>
    <div class="form-group">
      <h5><span class="badge bg-secondary">Question 2</span></h5>
      <input type="text" class="form-control" name="question2" value="Our products dooes meet your needs">
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">
        <input type="text" class="form-control" name="q2op1" value="True">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">
        <input type="text" class="form-control" name="q2op2" value="False">
      </label>
    </div>

<br>
    <div class="form-group">
      <h5><span class="badge bg-secondary">Question 3</span></h5>
      <input type="text" class="form-control" name="question3" value="Our products has value for money">
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">
        <input type="text" class="form-control" name="q3op1" value="True">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">
        <input type="text" class="form-control" name="q3op2" value="False">
      </label>
    </div>

    <br>
    <input type="submit" class="btn btn-primary" value="Create Survey">
    <a type="button" class="btn btn-secondary" href="/template">Cancel</a>
  </form>
  <br>
</div>
<%- include ../../partials/bottom_nav.ejs %>
<%- include ../../partials/footer.ejs %>
