<%- include ../../partials/header.ejs %>

<%- include ../../partials/top_nav.ejs %>
<%- include ../../partials/login_nav.ejs %>

<div class="container-fluid btn-light p-5">
  <form method="POST">
  <h1 class="display-4">
    <input type="text" class="form-control" name="surveytitle" value="Customer Satisfaction Survey Template"></h1><br>
    <div class="form-group">
      <label>1. </label>
      <input type="text" class="form-control" name="question1" value="Overall, Are you satisfied with our company?">
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">
        <input type="text" class="form-control" name="q1op1" value="Yes">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">
        <input type="text" class="form-control" name="q1op2" value="No">
      </label>
    </div>


    <div class="form-group">
      <label>2. </label>
      <input type="text" class="form-control" name="question2" value="Our products dooes meet your needs">
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">
        <input type="text" class="form-control" name="q2op1" value="True">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">
        <input type="text" class="form-control" name="q2op2" value="False">
      </label>
    </div>


    <div class="form-group">
      <label>3. </label>
      <input type="text" class="form-control" name="question3" value="Our products has value for money">
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">
        <input type="text" class="form-control" name="q3op1" value="True">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">
        <input type="text" class="form-control" name="q3op2" value="False">
      </label>
    </div>

    <br>
    <input type="submit" class="btn btn-primary" value="Submit">
    <a type="button" class="btn btn-secondary" href="/">Cancel</a>
  </form>
  
</div>
<%- include ../../partials/bottom_nav.ejs %>
<%- include ../../partials/footer.ejs %>
