<%- include ../../partials/header.ejs %>

<%- include ../../partials/top_nav.ejs %>
<%- include ../../partials/login_nav.ejs %>

<div class="container-fluid btn-light p-5">
  <form method="POST">
  <h1 class="display-4">
    <input type="text" class="form-control" name="surveytitle" value="Coronavirus Leadership Check-In"></h1><br>
    <div class="form-group">
      <h5><span class="badge bg-secondary">Question 1</span></h5>
      <input type="text" class="form-control" name="question1" value="How worried are you about the impact of coronavirus on you personally?">
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">
        <input type="text" class="form-control" name="q1op1" value="Extremely worried">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">
        <input type="text" class="form-control" name="q1op2" value="Very worried">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
      <label class="form-check-label" for="radioExample3">
        <input type="text" class="form-control" name="q1op3" value="Somewhat worried"> 
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
      <label class="form-check-label" for="radioExample3">
        <input type="text" class="form-control" name="q1op4" value="Not so worried">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
      <label class="form-check-label" for="radioExample3">
        <input type="text" class="form-control" name="q1op5" value="Not at all worried">
      </label>
    </div>
    <br>
    <div class="form-group">
      <h5><span class="badge bg-secondary">Question 2</span></h5>
      <input type="text" class="form-control" name="question2" value="How worried are you about the impact of coronavirus on your company?">
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">
        <input type="text" class="form-control" name="q2op1" value="Extremely worried">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">
        <input type="text" class="form-control" name="q2op2" value="Very worried">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
      <label class="form-check-label" for="radioExample3">
        <input type="text" class="form-control" name="q2op3" value="Somewhat worried"> 
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
      <label class="form-check-label" for="radioExample3">
        <input type="text" class="form-control" name="q2op4" value="Not so worried">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
      <label class="form-check-label" for="radioExample3">
        <input type="text" class="form-control" name="q2op5" value="Not at all worried">
      </label>
    </div>
    <br>
    <div class="form-group">
      <h5><span class="badge bg-secondary">Question 3</span></h5>
      <input type="text" class="form-control" name="question3" value="How easy or difficult is it for you to work effectively these days?">
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">
        <input type="text" class="form-control" name="q3op1" value="Very Easy">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">
        <input type="text" class="form-control" name="q3op2" value="Somewhat Easy">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
      <label class="form-check-label" for="radioExample3">
        <input type="text" class="form-control" name="q3op3" value="Neither easy nor difficult "> 
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
      <label class="form-check-label" for="radioExample3">
        <input type="text" class="form-control" name="q3op4" value="Somewhat difficult  ">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
      <label class="form-check-label" for="radioExample3">
        <input type="text" class="form-control" name="q3op5" value="Very difficult">
      </label>
    </div>
    <br>
    <div class="form-group">
      <h5><span class="badge bg-secondary">Question 4</span></h5>
      <input type="text" class="form-control" name="question4" value="What are the TOP THREE biggest challenges you are currently facing while working remotely?">
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="flexCheckDefault1" />
      <label class="form-check-label" for="flexCheckDefault1">
        <input type="text" class="form-control" name="q4op1" value="Internet connectivity">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="flexCheckDefault2" />
      <label class="form-check-label" for="flexCheckDefault2">
        <input type="text" class="form-control" name="q4op2" value="Social isolation">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="flexCheckDefault3" />
      <label class="form-check-label" for="flexCheckDefaultrs3">
        <input type="text" class="form-control" name="q4op3" value="Communication with coworkers is harder "> 
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="flexCheckDefault3" />
      <label class="form-check-label" for="flexCheckDefault3">
        <input type="text" class="form-control" name="q4op4" value="Getting enough food ">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="flexCheckDefault3" />
      <label class="form-check-label" for="flexCheckDefault3">
        <input type="text" class="form-control" name="q4op5" value="Too many distractions at home">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="flexCheckDefault3" />
      <label class="form-check-label" for="flexCheckDefault3">
        <input type="text" class="form-control" name="q4op6" value="I’m sick or helping others who are sick">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="flexCheckDefault3" />
      <label class="form-check-label" for="flexCheckDefault3">
        <input type="text" class="form-control" name="q4op7" value="Other">
      </label>
    </div>
     <br>
    <div class="form-group">
      <h5><span class="badge bg-secondary">Question 5</span></h5>
      <input type="text" class="form-control" name="question5" value="Thinking about your current work from home arrangements, how long is this something you could comfortably maintain?">
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">
        <input type="text" class="form-control" name="q5op1" value="It’s not sustainable now">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">
        <input type="text" class="form-control" name="q5op2" value="One week">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
      <label class="form-check-label" for="radioExample3">
        <input type="text" class="form-control" name="q5op3" value="A few weeks"> 
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
      <label class="form-check-label" for="radioExample3">
        <input type="text" class="form-control" name="q5op4" value="About a month">
      </label>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
      <label class="form-check-label" for="radioExample3">
        <input type="text" class="form-control" name="q5op5" value="Two or more months">
      </label>
    </div>

    <br>
    <input type="submit" class="btn btn-primary" value="Submit">
    <a type="button" class="btn btn-secondary" href="/">Cancel</a>
    <br>
  </form>
  
</div>
<br>
<%- include ../../partials/bottom_nav.ejs %>
<%- include ../../partials/footer.ejs %>
