<%- include ../../partials/header.ejs %>

<%- include ../../partials/top_nav.ejs %>
<%- include ../../partials/login_nav.ejs %>


<div class="container-fluid btn-light p-5">
 <h1 class="display-4"><label><%= surveytorespond.title %></label></h1><br>
  <form method="POST">
       <% for (let count = 0; count < questiontorespond.length; count++) { %>     
        <div class="form-group">
            <label><%= count+1 %>. <%= questiontorespond[count].surveyQuestion%></label>
            <select name = "chosenAnswers">
                <% var options =[];%>
                <% for (let acount = 0; acount <questiontorespond[count].answersList.length; acount++) { %>
                    <div class="form-group">
                        <option name="q<%=count%>ans<%=acount%>" value='<%= questiontorespond[count].answersList[acount].answer%>'><%= questiontorespond[count].answersList[acount].answer%></option>
                        
                    </div>    
                      
                <% } %>
                </select>
        </div> <br>       
    <% } %>
    <input type="submit" class="btn btn-primary" value="Submit Response">
    <a type="button" class="btn btn-secondary" href="/list-survey">Cancel</a>
  </form>
</div>

<%- include ../../partials/bottom_nav.ejs %>
<%- include ../../partials/footer.ejs %>
