<%- include ../partials/header.ejs %>

<%- include ../partials/top_nav.ejs %>
<%- include ../partials/login_nav.ejs %>

<div class="container-fluid btn-light p-5">
<h2> Available Surveys</h2>

</div>


<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>